/* 
.card-img-overlay {
  background-color: aquamarine !important;
} */

.background-image {
  position: relative;
  background-image: url("../images/02-hero-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 500px ;
}

.hero-banner h2 {
  position: absolute;
  bottom: 1%;
  right: 5%;
}